# IPv4 localhost
127.0.0.1       localhost

# IPv4 hostname
127.0.1.1       {{ inventory_hostname }}

# IPv6 localhost
::1             localhost ip6-localhost ip6-loopback

# IPv6 hostname
::1             {{ inventory_hostname }}

# Reserved addresses IPv6 (Deprecated)
fe00::0         ip6-localnet
ff00::0         ip6-mcastprefix

# Multicast IPv6
ff02::1         ip6-allnodes
ff02::2         ip6-allrouters
