deb [signed-by=/usr/share/keyrings/armbian.gpg] {{ manage_apt_sources_armbian_apt_url }} {{ manage_apt_sources_ubuntu_release }} main {{ manage_apt_sources_ubuntu_release }}-utils {{ manage_apt_sources_ubuntu_release }}-desktop
