# Tailscale packages for ubuntu {{ manage_apt_sources_ubuntu_release }}
deb [signed-by=/usr/share/keyrings/tailscale-archive-keyring.gpg] https://pkgs.tailscale.com/stable/ubuntu {{ manage_apt_sources_ubuntu_release }} main
